/*h1{
    color: aquamarine !important;
}*/

/* Universal Selector */

*{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;

}

html{
    
}

body{
    background-color: rgb(169, 169, 238);
}

/* NAV BAR */

nav{
    background-color: whitesmoke;
    padding: 20px;
}

div{
    float: right;
}

/* TYPE SELECTOR - CALL THE TAG */

h1{
    color: rgb(51, 95, 95) !important;
    text-align: center;
    font-size: 2rem;

}

section{
    height: 200vh;
    text-align: center;
}

h2{
    font-size: 1.5rem;
}

/* ID SELECTOR*/
#zuitt-motto{
    letter-spacing: 15px;
}

h3{
    letter-spacing: 20px;
}

/* ADJACENT SELECTOR*/

h3 + img {
    height: 300px;
    width: 300px;
}

ol{
    list-style-type: none;
    padding: 0;
}

/* CLASS SELECTOR*/
.offering-item{
    text-transform: uppercase;
}

/* DECENDANT SELECTOR */

#bootcamp-learning-list li{
    color: brown;
}

a{
    text-decoration: none;
}
