*{
    margin: 0;
    padding: 0 !important;
    box-sizing: border-box;
}
.heading{
    color: brown;
}

.heading-size{
    font-size: 48px;
}

.text-purple{
    color: purple;
}

.bg-color{
    color: aquamarine;
}